
header{
  height: 100px;
  width: 100%;
  background-color: #47B39D;
  color: white;
}
header p{
  font-size: 30px;
  line-height: 100px;
}
footer{
  bottom: 0;
  width: 100%;
  height: 5em;
  background: #9F44D3;
}
/*** iOS ***/
.switch{
  display: inline;
  float: right;
  box-sizing: border-box;
  clear: right;
  margin: 0px;
}
.switch__label {
	width: 50px;
	position: relative;
	display: inline-block;
}
.switch__content {
	display: block;
  cursor: pointer;
  position: relative;
  border-radius: 30px;
  height: 31px;
overflow: hidden;
}
.switch__content:before {
	content: "";
	display: block;
	position: absolute;
	width: calc(100% - 3px);
	height: calc(100% - 3px);
	top: 0;
	left: 0;
	border: 1.5px solid #E5E5EA;
	border-radius: 30px;
	background-color: #fff;
}
.switch__content:after {
	content: "";
	display: block;
	position: absolute;
	background-color: transparent;
	width: 0;
	height: 0;
	top: 50%;
	left: 50%;
	border-radius: 30px;
	-webkit-transition: all .5s;
	   -moz-transition: all .5s;
	    -ms-transition: all .5s;
	     -o-transition: all .5s;
	        transition: all .5s;
}
.switch__input {
	display: none;
}

.switch__circle {
	display: block;
	top: 2px;
	left: 2px;
	position: absolute;
	-webkit-box-shadow: 0 2px 6px #999;
	        box-shadow: 0 2px 6px #999;
	width: 27px;
	height: 27px;
	-webkit-border-radius: 20px;
	        border-radius: 20px;
	background-color: #fff;
	-webkit-transition: all .5s;
	   -moz-transition: all .5s;
	    -ms-transition: all .5s;
	     -o-transition: all .5s;
	        transition: all .5s;
}
.switch__input:checked ~ .switch__circle {
	left: 21px;
}

.switch__input:checked ~ .switch__content:after {
	background-color: #4BD964;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/*** iOS ***/

.button_right {
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #00BCD4;
    background: #ECECEC;
    border-radius: 0 15px 15px 0;
    transition: .4s;
  }

.box2 {
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    color: #6495ed;/*文字色*/
    background: #FFF;
    border: solid 3px #bfbfbf;/*線*/
    border-radius: 10px;/*角の丸み*/
}
.box3 {
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    background: #FFF;
    border: solid 3px #bfbfbf;/*線*/
    border-radius: 10px;/*角の丸み*/
}
.sen{
    border: solid 1px #bfbfbf;
}

.bar{
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    border: solid 3px #000000;
}
.square1 {
   display: inline-block;
   width: 20px;
   height: 20px;
   background: #0396FF;
}
.square2 {
   display: inline-block;
   width: 20px;
   height: 20px;
   background: #F8D800;
}
.square3 {
   display: inline-block;
   width: 20px;
   height: 20px;
   background: #EA5455
;
}
